<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="MenuRH" title="Menu RH"/>

  <menuitem name="matching" title="Matching" parent="MenuRH" action="match.all"/>

  <action-view name="match.all" title="Matching" model="com.axelor.ModuleRH.db.Matching">
    <view type="form" name="matching-form"/>
    <view type="grid" name="matching-grid"/>
  </action-view>

  <menuitem name="extraction" title="Traitement CV" parent="MenuRH" action="extract.all"/>

  <action-view name="extract.all" title="Traitement de CV"
    model="com.axelor.ModuleRH.db.Traitement">
    <view type="form" name="traitement-form"/>
    <view type="grid" name="traitement-grid"/>
  </action-view>

  <menuitem name="applicant" title="Gestion Candidats" parent="MenuRH"
    action="applicant.all"/>

  <action-view name="applicant.all" title="Liste Candidats"
    model="com.axelor.ModuleRH.db.Applicant">
    <view type="grid" name="applicant-grid"/>
    <view type="form" name="applicant-form"/>
  </action-view>

  <menuitem name="opportunity" title="Gestion Opportunités" parent="MenuRH"
    action="opportunity.all"/>

  <action-view name="opportunity.all" title="Liste Opportunités"
    model="com.axelor.ModuleRH.db.OpportunityPFE">
    <view type="grid" name="opportunity-grid"/>
    <view type="form" name="opportunity-form"/>
  </action-view>

  <menuitem name="config" title="Configuration" parent="MenuRH"/>

  <menuitem name="rolesConfig" title="Roles Candidat" parent="config" action="roles.all"/>

  <action-view name="roles.all" title="Configuration des rôles"
    model="com.axelor.ModuleRH.db.RolesCandidat">
    <view type="grid" name="rolesc-grid"/>
    <view type="form" name="rolesc-form"/>
  </action-view>

  <menuitem name="competencesConfig" title="Competences" parent="config"
    action="competences.all"/>

  <action-view name="competences.all" title="Configuration des competences"
    model="com.axelor.ModuleRH.db.Competences">
    <view type="grid" name="competences-grid"/>
    <view type="form" name="competences-form"/>
  </action-view>

  <menuitem name="sectorsConfig" title="Secteurs d'Activité" parent="config"
    action="sectors.all"/>

  <action-view name="sectors.all" title="Configuration des secteurs d'activité"
    model="com.axelor.ModuleRH.db.BusinessSectors">
    <view type="grid" name="sectors-grid"/>
    <view type="form" name="sectors-form"/>
  </action-view>

  <menuitem name="offerConfig" title="Offre d'emploi" parent="config" action="jobOffer.all"/>

  <action-view name="jobOffer.all" title="Configuration des offres d'emploi"
    model="com.axelor.ModuleRH.db.JobOffer">
    <view type="grid" name="offer-grid"/>
    <view type="form" name="offer-form"/>
  </action-view>

  <menuitem name="clientConfig" title="Client" parent="config" action="client.all"/>

  <action-view name="client.all" title="Configuration des clients"
    model="com.axelor.ModuleRH.db.Client">
    <view type="grid" name="client-grid"/>
    <view type="form" name="client-form"/>
  </action-view>

</object-views>